{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Créer un compte</title>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 w-50 align-items-center justify-content-center mx-auto">
        <div class="col-12 mt-4">
            <h2 class="text-center mb-3">Inscrivez-vous</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row">
                    <div class="col-6 ">
                <button type="submit" class="btn btn-primary w-75 mt-2">S'inscrire</button>
                    </div>
                    <div class="col-6 text-right">
                <a href="{% url 'accounts:login' %}" class="btn btn-primary w-75 mt-2">Retour</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}