<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Title</title>
    {% endblock %}
</head>
<body>
<nav>
    {% if user.is_authenticated %}
    <a href="{% url 'reviews:feed' %}">Flux</a>
    <a href="{% url 'reviews:posts' %}">Posts</a>
    <a href="{% url 'subscriptions:followers' %}">Abonnements</a>
    <a href="{% url 'accounts:profile' %}">Profil</a>
    <a href="{% url 'accounts:logout' %}">Se déconnecter</a>
    {% endif %}
</nav>
{% block content %}
{% endblock %}
</body>
</html>