{% extends 'base.html' %}
{% load reviews_extras %}
{% block title %}
<title>Flux</title>
{% endblock title %}

{% block content %}

<div class="container h-100">
    <div class="row align-items-center justify-content-around mt-5 mb-4">
        <div class="col-12 col-lg-4 text-center mb-3 mb-lg-0">
            <form action="{% url 'reviews:ticket-create' %}">
                <button class="btn btn-primary btn-submit w-75">Demander une critique</button>
            </form>
        </div>
        <div class="col-12 col-lg-4 text-center  mb-3 mb-lg-0">
            <form action="{% url 'reviews:ticket-review-create' %}">
                <button class="btn btn-primary btn-submit w-75">Créer une critique</button>
            </form>
        </div>
    </div>

    {% for instance in tickets_and_reviews %}
    <div class="row align-items-center justify-content-center">
        <div class="col-12">
            {% if instance|model_type == 'Review' %}
            {% if instance.user.id in following or instance.ticket.user.id in following or user_id == instance.user.id or user_id == instance.ticket.user.id %}

            {% include "reviews/partials/review_snippet.html" with review=instance %}
            {% endif %}
            {% elif instance|model_type == 'Ticket' and not instance.related_reviews.first %}
            {% if instance.user.id in following or user_id == instance.user.id %}
            <div class="w-75 mx-auto">
                {% include "reviews/partials/ticket_snippet.html" with ticket=instance display_button="true" %}
            </div>
            {% endif %}
            {% endif %}

        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
