{% extends 'base.html' %}
{% load reviews_extras %}
{% block title %}
<title>Flux</title>
{% endblock title %}

{% block content %}
<h1>Flux</h1>
<form action="{% url 'reviews:ticket-create' %}">
    <button class="btn btn-submit">Demander une critique</button>
</form>

{% for instance in tickets_and_reviews %}
    {% if instance|model_type == 'Review' %}
        <p>-------------------------------------</p>
        <h1>{% get_poster_display instance.user %} posté une critique.</h1>
        {% include "reviews/partials/review_snippet.html" with review=instance %}
        <p>-------------------------------------</p>

        <h1>Ticket - {{ instance.ticket.user }}</h1>
        {% include "reviews/partials/ticket_snippet.html" with ticket=instance.ticket %}
        <hr>

    {% elif instance|model_type == 'Ticket' and instance not in reviews_tickets %}

        <h1>{% get_poster_display instance.user %} demandé une critique.</h1>
        {% include "reviews/partials/ticket_snippet.html" with ticket=instance %}
        <form action="{% url 'reviews:review-create' instance.id %}">
            <button class="btn btn-submit">Créer une critique</button>
        </form>
        <hr>

    {% endif %}
{% endfor %}
{% endblock content %}
