{% extends 'base.html' %}
{% load reviews_extras %}
{% block title %}
<title>Flux</title>
{% endblock title %}

{% block content %}
<h1>Vos posts</h1>


{% for instance in tickets_and_reviews %}
    {% if instance|model_type == 'Review' %}
        {% include "reviews/partials/review_snippet.html" with review=instance %}
    {% elif instance|model_type == 'Ticket' and instance not in tickets_with_reviews %}

        {% include "reviews/partials/ticket_snippet.html" with ticket=instance %}


    {% endif %}
{% endfor %}
{% endblock content %}
