{% extends 'base.html' %}
{% load reviews_extras %}
{% block title %}
<title>Flux</title>
{% endblock title %}

{% block content %}
<h1>Flux</h1>
<form action="{% url 'reviews:ticket-create' %}">
    <button class="btn btn-submit">Demander une critique</button>
</form>

{% for instance in tickets_and_reviews %}
    {% if instance|model_type == 'Review' %}
        <p>-------------------------------------</p>
            {% if instance.user == user %}
                <h1>Vous avez posté une critique.</h1>
            {% else %}
                <h1>{{ instance.user }} a posté une critique.</h1>
            {% endif %}
            <h3>{{ instance.headline }}</h3>
            <p>{{ instance.time_created }}</p>
            <p>{{ instance.rating }}</p>

            <p>{{ instance.body }}</p>
        <p>-------------------------------------</p>

        <h1>Ticket - {{ instance.ticket.user }}</h1>
        <h1>{{ instance.ticket.title }}</h1>
        <p>{{ instance.ticket.description }}</p>
        <hr>

    {% elif instance|model_type == 'Ticket' and instance not in reviews_tickets %}

            {% if instance.user == user %}
                <h1>Vous avez demandé une critique.</h1>
            {% else %}
                <h1>{{ instance.user }} a demandé une critique.</h1>
            {% endif %}
            <h1>{{ instance.title }}</h1>
            <p>{{ instance.time_created }}</p>
            <p>{{ instance.description }}</p>
            <form action="{% url 'reviews:review-create' instance.id %}">
                <button class="btn btn-submit">Créer une critique</button>
            </form>
        <hr>

    {% endif %}

{% endfor %}
{% endblock content %}
