{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Connexion</title>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-lg-6">
            <h2 class="text-center mb-4">Inscrivez-vous maintenant</h2>
            <form action="{% url 'accounts:signup' %}" class="text-center">
                <button class="btn btn-primary btn-submit w-50">S'inscrire</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <h2 class="text-center mb-4">Connectez-vous</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary w-50">Se connecter</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}