{% load reviews_extras %}
<div class="card border-primary border-strong shadow w-75 mx-auto my-4">
    <div class="card-body">

        <h2>{% get_poster_display review.user %} posté une critique.</h2>
        <hr>
        <h5 class="card-title px-4">{{ review.headline }} - {{ review.rating }}</h5>
        <p class="card-text px-4">{{ review.body }}</p>

        <div class="mt-5">
            {% include "reviews/partials/ticket_snippet.html" with ticket=review.ticket %}
        </div>
        <div class="card-footer text-muted text-center">
            {{ review.time_created|get_posted_at_display }}
        </div>
    </div>
</div>