<span title="{{ rating }}/5">
    <i class="fa fa-star{% if rating < 1 %}-o{% endif %}" aria-hidden="true" style="color: #FFD700;"></i>
    <i class="fa fa-star{% if rating < 2 %}-o{% endif %}" aria-hidden="true" style="color: #FFD700;"></i>
    <i class="fa fa-star{% if rating < 3 %}-o{% endif %}" aria-hidden="true" style="color: #FFD700;"></i>
    <i class="fa fa-star{% if rating < 4 %}-o{% endif %}" aria-hidden="true" style="color: #FFD700;"></i>
    <i class="fa fa-star{% if rating < 5 %}-o{% endif %}" aria-hidden="true" style="color: #FFD700;"></i>
</span>
