{% load reviews_extras %}

<div class="card border-danger border-strong shadow w-100 my-5">
    <div class="card-body">

        {% if not ticket.related_reviews.first %}
        <h4>{% get_poster_display ticket.user %} demandé une critique.</h4>
        <hr>
        {% else %}
        <h4 class="card-header text-center">Ticket - {{ ticket.user }}</h4>
        {% endif %}

        <h2 class="card-title mt-4">{{ ticket.title }}</h2>
        <p class="card-text text-justify">{{ ticket.description|linebreaksbr|safe }}</p>
        {% if ticket.image %}
        <div class="text-center my-4">
            <img src="{{ ticket.image.url }}" alt="L'image du ticket" height="200" width="150"
                 class="img-fluid">
        </div>
        {% endif %}
        <div class="row">
            <div class="col-12 text-center col-lg-6 text-lg-left">
                <a href="{% url 'reviews:ticket-detail' ticket.id %}" class="btn btn-primary w-50 my-2">Lire le
                    ticket</a>
            </div>
            {% if not ticket.related_reviews.first %}
            {% if display_button == "true" %}
            <div class="col-12 text-center col-lg-6 text-lg-right">
                <a href="{% url 'reviews:review-create' ticket.id %}" class="btn btn-primary w-50 my-2">Créer
                    une
                    critique</a>
            </div>
            {% endif %}
            {% endif %}
        </div>
        {% if not ticket.related_reviews.first %}
        <div class="card-footer text-center text-muted">
            {{ ticket.time_created|get_posted_at_display }}
        </div>
        {% endif %}
    </div>
</div>
